* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 2%;
  max-width: 50%;
  max-height: 100%;
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 100% !important;
  }
}

/* Portrait */
@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .jnanaheader {
    text-align: center;
    color: royalblue;
    font-weight: bold;
    max-width: 100% !important;
  }
}
